In [68]:
import pandas as pd
import os
from collections import defaultdict

In [61]:
taxids_infile = "Data/taxid_mappings.csv"
gene_df_infile = "kegg_genes.27M.tsv"
uniprotid_dir = "Data/Kegg2Uniprot/"
ncbiid_dir = "Data/Uniprot2NCBI/"

### 04. Create chunks of KEGG_IDs, send output to python scripts

In [52]:
# chunks = pd.read_csv(gene_df_infile, sep='\t',header=(0), chunksize=100000)
# cohort = 1
# for chunk in chunks:
#     datafile = "Data/KEGG_CDS_chunks/chunk{}.txt".format(str(cohort))
#     with open(datafile, "a") as outfile:
#         kid_list = []
#         cdslist = list(chunk["KEGG_CDS"])
#         orglist = list(chunk["KEGG_ORG"])
#         for i in range(len(chunk["KEGG_CDS"])):
#             cds = cdslist[i]
#             org = orglist[i].lower()
#             kid_list.append(":".join([org, cds]))
#         print(" ".join(kid_list), file=outfile)
#     cohort += 1

## Uniprot mappings

In [55]:
gene_df = pd.read_csv(gene_df_infile, sep = '\t')
gene_df["KEGG_ID"] = gene_df["KEGG_ORG"].str.lower() + ":" + gene_df["KEGG_CDS"]
gene_df = gene_df.set_index("KEGG_ID")

In [77]:
uniprotid_mappings = os.listdir(uniprotid_dir)
uniprotid_mappings.remove(".DS_Store")
#uniprotid_mappings.remove(".ipynb_checkpoints")
uniprotid_mappings[0]

'chunk143.83396d2a5a83561a9afeef858cb02e9f6c62f074'

In [78]:
kegg_uniprot_df_dict = defaultdict(list)
for i in range(len(uniprotid_mappings)):
    infile = uniprotid_dir + uniprotid_mappings[i]
    with open(infile, "r") as f:
        next(f)
        lines = f.readlines()
        for line in lines:
            keggid, uniprotid = line.strip().split("\t")
            kegg_uniprot_df_dict["KEGG_ID"].append(keggid)
            kegg_uniprot_df_dict["UNIPROT_ID"].append(uniprotid)

In [84]:
len(set(kegg_uniprot_df["UNIPROT_ID"]))

12015898

In [ ]:
kegg_uniprot_df = pd.DataFrame(kegg_uniprot_df_dict)
kegg_uniprot_df = kegg_uniprot_df.set_index("KEGG_ID")

In [90]:
kegg_uniprot_df

                  UNIPROT_ID
KEGG_ID
hsa:118788            Q6ZUJ8
hsa:118788            Q86YV3
ptr:450646        A0A2I3REE2
ptr:450646        A0A6D2Y6X4
pps:100978197     A0A2R9CDX8
...                      ...
clb:Clo1100_0943      H2JDE9
csr:Cspa_c57810       M1N804
csb:CLSA_c33770       U5MUR5
cint:HZF06_13595  A0A7D6ZMV1
cale:FDN13_11600  A0A5B7TL48

[12324892 rows x 1 columns]

In [ ]:
gene_uniprot_df = pd.merge(gene_df, kegg_uniprot_df, on = "KEGG_ID", how = "outer")

In [ ]:
gene_uniprot_df

In [57]:
gene_df

           ENTRY  ALIAS         KEGG_CDS KEGG_ORG               KEGG_ID
0         K20411   PRR5            55615      HSA             hsa:55615
1         K20411  PRR5L            79899      HSA             hsa:79899
2         K20411   PRR5        100612312      PTR         ptr:100612312
3         K20411  PRR5L           739925      PTR            ptr:739925
4         K20411  PRR5L        100984533      PPS         pps:100984533
...          ...    ...              ...      ...                   ...
27083020  K08384  spoVD       XF24_00017      SRG        srg:XF24_00017
27083021  K08384    NaN  UT28_C0001G0122     BBGW  bbgw:UT28_C0001G0122
27083022  K08384    NaN  UY43_C0001G0629      MIB   mib:UY43_C0001G0629
27083023  K08384    NaN  UR17_C0001G0885      WBA   wba:UR17_C0001G0885
27083024  K08384    NaN      Q2T83_01775      FSH       fsh:Q2T83_01775

[27083025 rows x 5 columns]